:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 100%;
}

main {
  width: 80%;
  margin: 3em auto;
}

.reviews .overall-review {
  text-align: center;
}

.reviews .overall-review .reviews-heading {
  font-size: 2rem;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}

.reviews .overall-review p {
  color: var(--Dark-Grayish-Magenta);
  margin: 2em 0;
}

.ratings {
  margin: 3em 0;
}

.ratings .rating-card {
  background-color: var(--Light-Grayish-Magenta);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
}
.stars {
  margin-bottom: 0.5em;
}

.ratings .rating-card p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}

.users-reviews .card {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  padding: 2em;
  margin: 1em 0;
  border-radius: 10px;
}

.users-reviews .card .user-details {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.users-reviews .card .user-details .name {
  font-weight: 500;
}

.users-reviews .card .user-details img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.users-reviews .card .user-details .name p {
  color: var(--Soft-Pink);
  font-weight: 400;
}

.users-reviews .card .quote {
  line-height: 1.5;
}

@media (min-width: 750px) {
  body {
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 50%, 75%;
  }

  main {
    width: 80%;
    margin: 3em auto;
    display: grid;
    grid-template-areas:
      "overall-review ratings"
      "users-reviews users-reviews";
  }

  .reviews .overall-review{
    grid-area: overall-review;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ratings{
    grid-area: ratings;
  }
  .ratings .rating-card{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1em;
  }
  .ratings .rating-card .stars{
    margin-right: 20px;
  }
.users-reviews{
  grid-area: users-reviews;
  display: grid;
  grid-template-areas:
			"colton irene"
			"anne anne";
		margin-top: 60px;
		gap: 20px;
		margin: 0;

}

.users-reviews .card:nth-child(1){
  grid-area: colton;
  margin: 0;
} 
.users-reviews .card:nth-child(2){
  grid-area: irene;
  margin: 0;
}
.users-reviews .card:nth-child(3){
  grid-area: anne;
  margin: 0;
}
.user-details .card img{
  border-radius: 50%;
		width: 50px;
		height: 50px;
		margin-right: 20px;
}

@media (min-width:1000px){
  body {
		background-image: url("images/bg-pattern-top-desktop.svg"),
			url("images/bg-pattern-bottom-desktop.svg");
		background-repeat: no-repeat, no-repeat;
		background-position: top left, bottom right;
		background-size: 50%, 75%;
	}

  main{
    width: 90%;
		margin: 3em auto;
		display: grid;
    grid-template-areas:
      "overall-review ratings"
      "users-reviews users-reviews";
    }

  .reviews .overall-review{
      grid-area: overall-review;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:520px;
    }

  .reviews .overall-review .reviews-heading{
    font-size: 3rem;
  }  
  .ratings{
    grid-area: ratings;
    width: 520px;
  }

  .ratings .rating-card .stars{
    margin-right: 20px;
    margin-bottom: 0;
  }
  .ratings .rating-card{
    display: flex;
		flex-direction: row;
		align-items: center;
		width: 450px;
		padding: 1.5em 0;
  }
  .ratings .rating-card:nth-child(2){
    margin-left: 40px;
  }
  .ratings .rating-card:nth-child(3){
    margin-left: 80px;
  }
  
  .users-reviews{
    grid-area: users-reviews;
    display: flex;
		justify-content: space-between;
		margin-top: 50px;
  }

  .users-reviews .card{
		width: 350px;
		height: 250px;
	}
.users-reviews .card:nth-child(2){
  margin-top: 40px;
}

.users-reviews .card:nth-child(3){
  margin-top: 80px;
}

}
}