:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif; 
}
.reviews {
  background: url("./images/bg-pattern-top-mobile.svg") no-repeat;
  display: flex;
  flex-direction: column;
  padding-inline: 5vw;
  padding-top: 7vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 15px;s */
}
.reviews .reviews-heading {
  color: var(--Very-Dark-Magenta);
  margin-bottom: 2vh;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
}

.reviews p {
  color: var(--Dark-Grayish-Magenta);
  margin-bottom: 2vh;
}

.ratings {
  width: 100%;
}
.ratings .rating-card {
  background-color: var(--Light-Grayish-Magenta);
  padding-inline: 4vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.ratings p {  
  color: var(--Very-Dark-Magenta);
  font-size: 0.8rem;
  
}

.users-reviews {
  padding-inline: 5vw;
  padding-top: 4vh;
  background-image: url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
  font-size: 15px;
}

.users-reviews .card {
  border-radius: 10px;
  background-color: var(--Very-Dark-Magenta);
  color: var(--Light-Grayish-Magenta);
  padding-inline: 10vw;
  padding-block: 5vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  /* display: none; */
}
.users-reviews .card .user-details {
  display: flex;
  padding-bottom: 2vh;
}
.users-reviews .card .user-details img {
  border-radius: 100px;
  width: 10vw;
}

.users-reviews .card .user-details .name {
  padding-left: 5vw;
  color: var(--Light-Grayish-Magenta);

}

.name p{
    color: var(--Soft-Pink);
}
.users-reviews .card p{
    line-height: 1.5;
    font-size: 0.8rem;
}

@media(min-width:750px){
    .reviews{
        flex-direction: row;
        background: url('./images/bg-pattern-top-desktop.svg') no-repeat;
        justify-content: start;
        align-items: center;
        text-align: start;
        padding-top: 18vh;
        margin-left: 10vw;

    }
    .reviews .overall-review{
        padding-right: 2vw;
        width: 30vw;
        line-height: 1.5;
        margin-right: 3vw;
    }
    .reviews .ratings{
        width:fit-content;
        padding-right: 2vw;
        margin-left: 1vw;
        /* margin-right: 0; */
    }
    .reviews .ratings .rating-card{
        display: flex;
        padding-top: 2vh;
        padding-bottom: 1vh;
        /* padding-left: 0;
        padding-right: 0; */
        /* margin-right: 10vw; */
    }
    .reviews .ratings .rating-card img{
        padding-right: 0.5vw;
        height: 2.5vh;
    }
    .reviews .ratings .rating-card p{
        padding-left: 2vw;
    }
    
    .reviews .ratings .rating-card:nth-child(3){
      margin-left:3vw;
    }
    .reviews .ratings .rating-card:nth-child(2){
        margin-left:1.5vw;
        margin-right: 1.5vw;
    }
    .reviews .ratings .rating-card:nth-child(1){
        margin-right: 3vw;
    }

    .users-reviews{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 10vh;
        padding-bottom: 5vh;
        /* padding-left: 6.2vw; */
    }
    .users-reviews .card{
        padding-block: 5vh;
        padding-inline: 2vw;
        margin-right:2.5vw;
        margin-bottom: 10vh;
        width: 19%;
    }
    .users-reviews .card:nth-child(1){
      margin-left: 10vw;
    }
    .users-reviews .card:nth-child(2){
       margin-top: 2.5vh;
       margin-bottom: 7.5vh;
    }
    .users-reviews .card:nth-child(3){
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 5vw;
     }
    .users-reviews .card .user-details img {
        border-radius: 100px;
        width: 4vw;
      }
      .users-reviews{
        background: url('./images/bg-pattern-bottom-desktop.svg') no-repeat;
      }
      .users-reviews .card .user-details .name {
        padding-left: 1vw;
      
      }
}